<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CA_TOKEN</key>
	<string>cqAlaO0PA8</string>
	<key>CA_URL</key>
	<string>https://spdlybra.nintendo.co.jp/confluence</string>
	<key>CA_USER</key>
	<string>ym_s_takeuchi</string>
</dict>
</plist>
